@import "../../../../.local/share/omarchy/default/walker/themes/omarchy-default/style.css";

.box-wrapper {
  border-radius: 2em;
  background: alpha(@background, 0.6);
}

.box {
  background: transparent;
}

.search-container {
  border-radius: 2em;
  padding-left: 1em;
  background: alpha(@background, 0.3);
}
