*
!.gitignore
!README.md
!hypr/
!hypr/**
!scripts/
!scripts/**
!shell/
!shell/**
!fastfetch/
!fastfetch/**
!starship/
!starship/**
!omarchy/
!omarchy/**
!nvim/
!nvim/**
!pipe-viewer/
!pipe-viewer/**
pipe-viewer/watched.txt
pipe-viewer/playlists/
!zellij/
!zellij/**
!kitty/
!kitty/**
kitty/kitty.conf
