@define-color bg #151317;
@define-color fg #fcf8f1;
@define-color gray1 #ecbf75;
@define-color gray2 #88828d;
@define-color gray3 #9ea3b8;
@define-color gray4 #cf9b6d;
@define-color gray5 #c0a5b7;
@define-color fg_bright #fcf8f1;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}